<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- http://ws.geonames.org/findNearbyPlaceNameJSON?lat=57.783544&lng=14.153471 -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <script data-main="js/app.config" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js"></script>

    <title>Väder från SMHI</title>
  </head>

  <body>
    <script type="text/template" id="error_tmpl">
      <div class="alert alert-warning">        
        <strong><%= message %></strong>
        <p>Kunde inte få tag på position</p>
      </div>
    </script>

    <script type="text/template" id="wheater_tmpl">    
      <h1>Väder <%= date %> kl<%=time%></h1>      
      Position: <strong><%= collection.lat %>/<%= collection.lon %></strong>      
      <p>Temperatur: <%= temperature.value %><%= temperature.unit %></p>
      <p>Luftfuktighet: <%= humidity.value %><%= humidity.unit %></p>
      <p>Vindstyrka: <%= wind.value %><%= wind.unit %></p>
      
      <% if (rainfall.value) { %>
        <p><%= category.value %> (<%= rainfall.value %><%= rainfall.unit %>)</p>
      <% } else { %>
        <p style="visibility:hidden;">n/a</p>
      <% } %>
      
      <ul class="pager">
        <li class="previous"><a href="#prev/<%=cid%>">&larr; Föregående</a></li>
        <li class="next"><a href="#next/<%=cid%>">Nästa &rarr;</a></li>
      </ul>      
    </script>
    
    <div class="container">
      <article class="jumbotron">
        <div id="wheater" class="loading">        
          Hämtar GPS-position och data från SMHI...
        </div>
      </article>      
    </div>

  </body>

</html>
