<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <h2><%=date %> <%=time%></h2>
    </div>

    <div class="col-xs-3">
      <h3><%= temperature.value %><%= temperature.unit %></h3>
    </div>

    <div class="col-xs-3">
      <i class="<%= icon %>" style="font-size: 50px;"/>
    </div>

    <div class="col-xs-6">
      <% if (rainfall.value) { %>
        <p><%= wheater.name %> (<%= rainfall.value %><%= rainfall.unit %>)</p>
      <% } else { %>
        <p><%= cloud.name %></p>
      <% } %>    
    
      <p>
          <i style="font-size: 25px; <%= rotation%>" class="glyphicon glyphicon-arrow-down"/>
          <%= wind.value %><%= wind.unit %>
      </p>
    
      <p>Luftfuktighet: <%= humidity.value %><%= humidity.unit %></p>
    </div>
    
  </div>
</div>